/* --------------- * and fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,700;1,500&family=Work+Sans:ital,wght@1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


*::selection{
    background-color: blueviolet;
    color: white;
}

body{
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
}

.remove{
    display: none;
    transition: 0.5s;
}
.vanish{
    opacity: 0;
    transition: 0.5s;
}



/* --------------- header -------------- */

.header{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}


.logo .name{
    font-size: 40px;
    font-weight: 900;
}



.link-wrapper .links{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin: 0 10px;
}



.link-wrapper .links:after{
    content: "";
    position: absolute;
    background-color: blueviolet;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
.link-wrapper .links:hover:after{
    width: 92%;
}




/* --------------- main -------------- */

#nav{
    z-index: 1000;
}

.abs{
    display: none;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    margin: 70px auto;
    margin-top: 0;
    margin-bottom: 30px;
}


.main .sec1 .main-txt{
    font-family: 'Lilita One', cursive;
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sec1 .main-txt .my-name{
    font-family: 'Lilita One', cursive;
    color: blueviolet;
    border: 4px solid blueviolet;
    padding: 10px 30px;
    margin: 0 10px;
    background-color: rgb(236, 216, 255);
}

.sec1 .main-txt .my-name::selection{
    background-color: blueviolet;
    color: black;
}

.main .sec1 .role{
    font-size: 30px;

}


.sec1 .socials{
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.sec1 .socials p{
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
}

.sec1 .socials p:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

.socials .ap a img{
    width: 50px;
}

.socials .l5 .hash-n img{
    border-radius: 50%;
}

.sec1 .resume button{
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #8a2be2;
    color: white;
    border: none;
    margin-top: 20px;
}

.sec1 .resume button:hover{
    box-shadow: 0px 2px 10px 2px grey;
}

.sec1 .resume button a{
    color: white;
    text-decoration: none;
}

.main .sec2{
    position: relative;
    z-index: 100;
}

svg{
    height:600px;
}

.mystyle{
    width: 80px;
}


/* --------------- About -------------- */

.headings{
    font-family: 'Work Sans', sans-serif;
    font-size: 44px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

#About .headings{
    margin-top: 0;
}

div.line{
    border: 1px solid #8a2be2;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#about .image img{
    width: 700px;
    border-radius: 20px;
}

#about .txt{
    line-height: 30px;
    font-weight: 600;
}

#about .txt span{
    font-weight: 700;
    font-size: 18px;
}


/* --------------- Ed -------------- */

.education .info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.ed-logo{
    text-align: center;
    padding: 40px;
    border-radius: 10px 10px 0px 0px ;
}

.ed-logo i{
    font-size: 22px;
}

.edu .school{
    padding: 30px 20px;
    width: 400px;
    border-radius: 0px 0px 10px 10px;
}


.edu .school p{
    text-align: center;
    line-height: 35px;
    font-weight: 600;
}

.edu1 .ed-logo{background-color: #73bbc9;}
.edu2 .ed-logo{background-color: #9576de;}
.edu3 .ed-logo{background-color: #ffa559;}

.edu1 .school{border: 5px solid #73bbc9;}
.edu2 .school{border: 5px solid #9576de;}
.edu3 .school{border: 5px solid #ffa559;}



/* --------------- Skills -------------- */

.skill-wrapper{
    max-width: 90%;
    margin: 0 auto;
}


.skill-box .skill-l:hover{
    transform: scale(1.06);
    transition: 0.3s;
}

.skill-l .skill-txt{
    margin-left: 20px;
    color: white;
}

.skill-heading{
    margin-top: 40px;
}

/* Hide scrollbar */
.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    display: flex;
    overflow: hidden;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    white-space: nowrap;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

}

.scroll-content {
    display: flex;
    gap: 20px;
    width: max-content;
    padding-inline: 0;
}

.item {
    flex: 0 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    padding: 20px;
    border-radius: 10px;
}

.skill-box .skill-l:hover{
    transform: scale(1.06);
    transition: 0.3s;
}

.skill-l .skill-txt{
    margin-left: 20px;
    color: white;
}

.skill-heading{
    margin-top: 40px;
}


.is-marquee { overflow: hidden; }                 /* hide manual scroll */
.is-marquee .scroll-content {
    width: max-content;                             /* allow track to be as wide as needed */
    animation: scrollLeft 15s linear infinite;
    animation: marquee 15s linear infinite;
}

/* Move by one full set plus half the gap to hide the seam */
@keyframes marquee {
    from { transform: translateX(0); }
    to   { transform: translateX(calc(-50% - 20px / 2)); }
}

.db-scroll.is-marquee .scroll-content {
    animation: none !important;
    transform: none !important;
    width: auto !important;
    justify-content: center; /* center the 3 cards */
}



/* --------------- work exp -------------- */

.logos{
    display: inline-block;
    width: 60px;
    border-radius: 50%;
}

.points-cont{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.exp-desc{
    max-width: 80%;
    margin: 10px auto;
}


.points{
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* --------------- Project -------------- */

.pro{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 160px;
}

.pro .card{
    justify-content: center;
    
}


.card-body{
    position: absolute;
    z-index: -2;
    bottom: 0;
    transition: 0.3s;
    
}

.card-body p a{
    color: white;
    text-decoration: none;
}

.card:hover .card-body{
    z-index: 10;
    background-color: rgba(138, 43, 226, 0.7);
    color: white;
}


/* --------------- footer => contact -------------- */


footer{
    background-color: #c1d5e3;
    padding: 20px;
    padding-bottom: 5px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 60px;
}

footer .above{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

footer .line{
    border: 1px solid #a852f9;
    max-width: 1100px;
    margin-bottom: 20px;
}


footer .part1 p{
    max-width: 500px;
}

footer .below{
    text-align: center;
}

.part2 h3{
    margin-bottom: 20px;
}

.part2 .accounts{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.ap a i{
    font-size: 30px;
    color: black;
}


.below span{
    color: #8a2be2;
    position: relative;
    top: 3px;
    font-size: 25px;
}

.below .mail i{
    position: relative;
    top: 6px;
}




@media (max-width: 1300px) {
    #about{
        grid-template-columns: 1fr;
        width: 70%;
        margin: 0 auto;
    }
    #about .image{
        display: none;
    }

    .education .info{
        display: block;
    }
    .info .edu{
        margin: 30px auto;
    }
    .ed-logo{
        width: 400px;
        margin: 0 auto;
    }
    .edu .school{
        width: 400px;
        margin: 0 auto;
    }

    /* .points-cont{
        display: flex;
        justify-content: start;
    } */

    .pro{
        max-width: 1000px;
        margin: 0 auto;
    }

    footer .above{
        display: block;
    }
}

@media (max-width: 1242px){
    .skill-wrapper .skill-box{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        max-width: 800px;
        margin: 0 auto;
    }

    .skill-box .skill-l:hover{
        transform: scale(1);
    }


    /* .points-cont{
        display: flex;
        justify-content: start;
    } */

    .pro{
        grid-template-columns: 1fr 1fr;
        width: 800px;
    }
    .card-body{
        position: absolute;
        z-index: 2;
        bottom: 0;
        background-color: rgba(138, 43, 226, 0.7);
        width: 100%;
    }
    
    .card-text{
        display: none;
    }
}

@media (max-width:1100px){

    .abs{
        display: block;
        background-color: tomato;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        z-index: 10;
    }
    .main{
        justify-content: center;
        margin-top: 10px;
    }
    .main .sec1 .resume{
        display: flex;
        justify-content: center;
    }
    .main .sec1 .main-txt{
        font-size: 30px;
        padding-left: 25px;
    }
    .main .sec1 .role{
        font-size: 30px;
        padding-left: 20px;
    }
    .main .sec1 .socials{
        display: flex;
        justify-content: space-evenly;
    }
    .sec1 .socials p:hover{
        transform: scale(1);
    }
    .main .sec2{
        position: absolute;
        top: 1%;
    }
    svg{height:350px;}
    .sec2{
        margin-top: 120px;
    }
}

@media (max-width: 1000px){
    /* .points-cont{
        display: flex;
        justify-content: start;
    } */
    .pro{
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (max-width:960px){
    .link-wrapper .links:hover:after{
        width: 0;
    }
    /* .points-cont{
        display: flex;
        justify-content: start;
    } */
}

@media (max-width: 875px){
    .skill-wrapper .skill-box{
        grid-template-columns: 1fr;
        max-width: 300px;
        margin: 0 auto;
    }

    @keyframes marquee {
        from { transform: translateX(0); }
        to   { transform: translateX(calc(-50% - 20px / 2)); }
    }

    .db-scroll.is-marquee .scroll-content {
        animation: scrollLeft 15s linear infinite;
        animation: marquee 15s linear infinite;
        width: max-content;
    }

    /* .points-cont{
        display: flex;
        justify-content: start;
    } */

    .pro{
        grid-template-columns: 1fr;
        width: 350px;
    }
}

@media (max-width: 450px){

    .points-cont{
        justify-content: start;
    }
    .exp-cont .exp-desc{
        max-width: 100%;
        margin: 10px auto;
    }
}

@media (max-width: 420px){
    .ed-logo{
        width: 320px;
        margin: 0 auto;
    }
    .edu .school{
        width: 320px;
        margin: 0 auto;
    }
    
}

